@tailwind base;
@tailwind components;
@tailwind utilities;

/* Color variables */
:root {
  --foreground-light: 51, 51, 51;
  /* #333333 for text */
  --background-light: 240, 240, 240;
  /* #f0f0f0 for background */

  --foreground-dark: 236, 236, 236;
  /* #ececec for text */
  --background-dark: 24, 24, 24;
  /* #181818 for background */
}

/* Light mode */
body {
  color: rgb(var(--foreground-light));
  background-color: rgb(var(--background-light));
}

/* Dark mode */
.dark body {
  color: rgb(var(--foreground-dark));
  background-color: rgb(var(--background-dark));
}

/* Scrollbar styling for a subtle gray look */
::-webkit-scrollbar {
  width: 8px;
  background-color: #e0e0e0;
}

::-webkit-scrollbar-thumb {
  background-color: #cccccc;
  border-radius: 8px;
}

/* Dark mode scrollbar */
.dark ::-webkit-scrollbar {
  background-color: #222222;
}

.dark ::-webkit-scrollbar-thumb {
  background-color: #353535;
}
