@tailwind base;
@tailwind components;
@tailwind utilities;

/* Color variables */
:root {
  --foreground-light: 51, 51, 51;
  /* #333333 for text */
  --background-light: 240, 240, 240;
  /* #f0f0f0 for background */

  --foreground-dark: 236, 236, 236;
  /* #ececec for text */
  --background-dark: 24, 24, 24;
  /* #181818 for background */
}

/* Light mode */
html {
  scrollbar-width: thin;
  scrollbar-color: rgb(var(--foreground-light)) transparent;
}

body {
  color: rgb(var(--foreground-light));
  background-color: rgb(var(--background-light));
}

/* Dark mode */
html.dark {
  scrollbar-color: rgb(var(--foreground-light)) transparent;
}

.dark body {
  color: rgb(var(--foreground-dark));
  background-color: rgb(var(--background-dark));
}
